@font-face {
  font-family: Jambo;
  font-style: normal;
  font-weight: normal;
  src: url("Jambo.otf") format("opentype");
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

#content {
  margin: 0 auto;
  padding-top: 80px;
  
}

.title{
  font-size: 1em;
  font-family: Jambo;
  font-weight: bold;
  
}

.quote-box{
  border-radius: 20px;
  box-shadow: -10px 10px 20px gray;
  margin: 0px, auto;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 4;
  width: 60%;
  padding-left: auto;
  padding-right: auto;
  background-color: red;
  padding-top: 20px;
}



.quote {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.author {
  display: block;
}

.switch {
  width: 70px;
  padding-left: auto;
  padding-right: auto;
  float: none;
}

